*{
    margin:0;
    padding: 0;
}

.body{
    font-family: "Open Sans";
    font-size:24px ;
    color:rgba(34, 53, 111, 1);

}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}



/*menu*/

.top-menu{
    width: 100%;
    height: 60px;
    margin:25px 0 0 179px;
    display: inline-flex;

    position: absolute;
    z-index: 1;
}

.nav-link{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color:rgba(34, 53, 111, 1);
    margin-right: 15px;
    padding-top: 15px;

    position: relative;
    
}

.nav-link:hover{
    font-weight: bold;
}

.nav-link:after{
    content: "";
    display: none;
    width: 100%;
    height: 1px;
   
    background-color: #22356F;
    
    margin-top: 10px;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;
    
}

.nav-link:hover:after{
    
    display: block;
}

.btm{
    width: 150px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(98, 208, 223, 1);
    text-decoration: none;
    border-radius: 50px;
    border: none;
    margin-left: 300px;

    
    
}

.logo{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -3.5%;
    color:#62D0DF;
    margin-right: 300px;
}

.intro-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}

.offer-content{
    width: 469px;
    height: 161px;
    margin:187px 0 0 179px;
}

.offer{
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -3.5%;
    color:#22356F;
    margin-top: 30px;
}

.offer-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 42.19px;
    color:#22356F;
    margin-top: 80px;
}

.offer-btn{
    display: inline-block;

}

.btn1{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #F9B640;
    padding: 10px 30px;
    border: none;
    margin-top: 60px;
}

.btn2{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #F9B640;
    border: none;
    margin-top: 60px;
    margin-left: 38px;
    padding: 10px 30px;
    background-color: #fff;
}

.intro-photo{
    width: 800px;
    height:500px;
    border-radius: 312px;
    overflow: hidden;

    position:absolute;
    top:150px;
    margin-left: 800px;
    rotate: 145deg;

   
}

.intro-bg{
    
    width: 800px;
    height:500px;
    border-radius: 312px;
    background-color:#EDFDFF;
    rotate: 120deg;

    display: block;
    position: absolute;
    top:0;
    margin-left: 800px;

    

}

.photo{
    width: 1100px;
    height: auto;
    rotate:-145deg;

}
   

.intro{
    height: 840px;
}

/*first-page*/

.first-page-content{
   margin-top: 0;
}

.page1-text{
    width: 915px;
    height: 604px;
    background-color: #62D0DF;
}

.first-page-text{
    margin-left: 178px;
   
    color:#fff;
    text-align: left;
}

.page1-name{
    font-size: 36px;
    font-weight: bold;
    color:#fff;

    margin-top: 0;
}

.page1-description{
    width: 555px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35.16px;
    margin-top: 71px;
}

.big-text{
    font-size: 24px;
    font-weight: bold;
    line-height: 29.3px;
}

/*first-page-photo*/

.first-page-photo{
    width: 550px;
    height: 604px;
    
    background: url(img/2.jfif) left;
    background-size: auto 604px ;
}



/*about us*/

.about-content{
    width: 100%;
    height:auto;
    margin-top: 153px;
    display: flex;

}

.about-title{
    width: 93px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 6%;
    color:#22356F;
    margin-left:106px;
    line-height: 120%;
    
}

.about-text{
    width:592px;
    font-size: 24px;
    font-weight: 400;
    color:#22356F;
    letter-spacing: 0.5%;
    line-height: 120%;
    margin-left: 225px;
}
/*help*/

.help-title{
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 6%;
    color:rgba(34, 53, 111, 0.5);
    text-transform: uppercase;

    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 47px;
}

.help-blocks{
    margin-top: 24px;
}

.help-block{
    width: 360px;
    height: 360px;
    
    font-size: 32px;
    font-weight: bold;
    color:#fff;

    
}

.help-block1{
    width: 360px;
    height: 360px;
    background-color: #FFE2DE;

}

.help-block2{
    width: 360px;
    height: 360px;
    background-color:#C4E769;
}

.help-block3{
    width: 360px;
    height: 360px;
    background-color:#62D0DF;
}

.help-block4{
    width: 360px;
    height: 360px;
    background-color:#0052C1;
}

.block-text::before{
    content: "";
    display: block;
    width: 255px;
    height: 1px;
    background-color: #fff;

   margin-bottom: 23px;
}

.help-blocks{
    border-spacing: none;
    width: 1440px;
}

.block-text{
    padding:95px 0 0 78px;
    display: inline-block;
   
}

.circle{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #F9B640;

    
   
}

/*health block*/

.six-blocks{
    width: 480px;
    height: 480px;
    

}

.health-text{
    display: inline-block;
   
    font-size: 32px;
    font-weight: bold;
    color: #fff;
   
    margin-left: 104px;
    padding-top: 96px;
}

.health-text::before{
    content: "";
    display: block;
    width: 340px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 30px;
    margin-left: -34px;
    
}

.health-block1{
    width: 480px;
    height: 480px;
    background-color: #22356F;
}

.health-block2{
    width: 480px;
    height: 480px;
    background-color: #0052C1;
}

.health-block3{
    width: 480px;
    height: 480px;
    background:url(img/3.jfif) center;
    background-size: auto 480px;
}

.health-block4{
    width: 480px;
    height: 480px;
    background-color: #62D0DF;
}

.health-block5{
    width: 480px;
    height: 480px;
    background-color: #DEE1FF;
}

.health-block6{
    width: 480px;
    height: 480px;
    background-color: #8F00FF;
}

.health-block{
    margin-top: 120px;
}

/*daily plans*/

.daily-plans{
    margin-top: 22px;
}

.day-block{
    width: 480px;
    height: 240px;
    text-align: center;
}

.day-main{
    font-size: 28px;
    font-weight: 400;
    color:#22356F;
    text-align: left;
    margin-left: 105px;;
}

.day-text{
    width: 298px;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    color:rgba(34, 53, 111, 0.5);
    text-align: left;
    line-height: 25.31px;

    margin-top: 28px;
    margin-left: 105px;;
}

/*second-page*/

.page2{
    margin-top: 40px;
}

.page-photo{
    width: 480px;
    height: 800px;
}

.photo-second-page{
    width: auto;
    height: 800px;
}

.page-text{
    width: 960px;
    height: 800px;

}

.page-text-content{
    margin-left: 106px;
}

.page-main{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color:#22356F;
    margin-top: 103px;
}

.page-description{
    width: 676px;
    
    font-size: 36px;
    font-weight: bold;
    color:rgba(34, 53, 111, 1);
    line-height: 52.73px;
    text-align: left;

    margin-top: 225px;
}

.page-description-color{
    color:rgba(108, 211, 225, 1);
}

.get-help{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color:#FAB63E;
    letter-spacing: 10%;
    line-height: 23.44px;

    margin-top: 152px;
}

/*third-page*/

.page3{
    margin-top: 0;
}

.page3-text{
    width: 960px;
    height: 800px;
    background-color: #22356F;
}

.page3-content{
    display: block;
    margin-left: 180px;
    padding: 0;
}

.page3-main{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color:#fff;
    letter-spacing: 6%;

    margin-top: 103px;
}

.page3-big{
    font-size: 64px;
    font-weight: bold;
    color:#fff;

    margin-top: 220px;

}

.page3-description{
    width: 560px;
    font-size: 36px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.5%;
    color:#fff;

    margin-top:76px;
}

.page3-help{
    font-size: 16px;
    font-weight: bold;
    color:#62D0DF;
    letter-spacing: 10%;

    margin-top: 70px;
}

.third-page-photo{
    width:auto;
    height: 800px;
}